<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>209274305608-vho76ddr2k07n22j5nm415ep9jjosqrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209274305608-vho76ddr2k07n22j5nm415ep9jjosqrf</string>
	<key>API_KEY</key>
	<string>AIzaSyAsuAQxVivY87V4b6cqzWNGPercPmG24Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>209274305608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shndrs.HaveFunWithRealm</string>
	<key>PROJECT_ID</key>
	<string>havefunwithrealm</string>
	<key>STORAGE_BUCKET</key>
	<string>havefunwithrealm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209274305608:ios:63c76154b0e08f0e</string>
	<key>DATABASE_URL</key>
	<string>https://havefunwithrealm.firebaseio.com</string>
</dict>
</plist>